<div class = "how-it-work-wrapper col-xs-12">
        <h1 class = "hiw-title">Privacy</h1>
        <h2>1. We do not store or gather your customer personal information</h2>
        <h2>2. We require your email from facebook for registration</h2>
</div>
