<% @feeds.each do | feed | %>
  <div class="box box-primary">
    <div class="box-body with-border">
      <h6 class="box-title"><%= feed['message'] %></h6>
    </div>
    <div class="box-footer" id = "automate-button">
      <button type="submit" class="btn btn-primary">Automate</button>
    </div>
  </div>
<% end %>
