<div class="box box-primary">
    <div class="box-body with-border">
      <h6 class="box-title"><%= @post.content %></h6>
    </div>
    <div class="box-footer">
        <%= link_to 'Edit', post_path(@current_tab,@post),  {class: 'btn btn-primary'}  %>
    </div>
</div>