
.header{
  background-color: #3c8dbc;
}
.title{
  color : white;
  margin-bottom: 20px;
}
.main-text-wrapper{
  color: white;
  background-color: #18bc9c;
}
.main-text{
  margin-top: 25vh;
  text-align: center;
  font-size: 3.75em;
  font-weight: 700;
}
.sub-main-text{
  text-align: center;
}
.facebook{
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.how-it-work-wrapper{
  text-align:center;
}
.footer{
  text-align:center;
  background-color: #3c8dbc;
  color: white;
  margin-top: 10vh;
}
.sub-text{
  color: #676767;
  font-weight: 100;
}
.hiw-title{
  margin-top: 5vh;
  margin-bottom:10vh;
}
.remove-link {
  color: white;
  text-decoration: none; /* no underline */
}
.remove-link:hover {
  color: white;
  text-decoration: none; /* no underline */
}