#login-wrapper-child{
  margin-top: 25vh;
}
#login-wrapper-parent{
  height: 100vh;
  background-color: #d2d6de;
}
#beta-text{
  font-size: 50%;
  font-weight: bold;
  color: black;
}
#login-text{
  text-align: center;
  color: #444444;
  font-size: 56px;
  margin-bottom: 5vh;
}