  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <%= link_to page_path(@current_tab), :class => "logo hidden-xs" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>BT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Pixel</b>Byte</span>
    <% end %>  

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
    </nav>
  </header>