  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <div class="user-panel">
        <div style = "text-align:center; width: 100%;">
          <h4><%= @current_tab.name %></h4>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#"><i class="glyphicon glyphicon-th-large"></i> <span>Pages</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <% @tabs.each do | tab | %>
              <li><%= link_to tab.name, tab %></li>
            <% end %>
          </ul>
        </li>

        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
        <li class = "active">
        <%= link_to page_path(@current_tab) do %>
          <i class="fa fa-feed"></i> <span>Feed</span>
        <% end %>  
        </li>
        <li>
         <%= link_to  destroy_user_session_path, :method => :delete do %>
          <i class="fa fa-power-off"></i> <span>Logout</span>
         <% end %>  
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>